.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}
.margin_0{
    margin: 0 auto;
}
.back{
    background: #10244d;
}
.back_1{
    background:midnightblue ;
}
.back_2{
    background: royalblue;
}
.back_3{
    background: mediumpurple;
}
.back_4{
    background: cadetblue;
}
.wh1000{
    width: 1000px;
}
.height100{
    height: 100px;
}
.height200{
    height: 200px;
}
.height600{
    height: 600px;
}
.flex{
    display: flex;
    flex-direction: column;
}
.display{
    display: flex;
}
.wh80{
    width: 80%;
}
.wh20{
    width: 20%;
}