img, svg {
    vertical-align: inherit;
}

.bg-light {
    background: #0F2438 !important;
    height: 36px;
}

.padding__left-page {
    padding-left: 286px;
}

.padding__left-information {
    padding-left: 50px;
}

.text__decoration-city {
    text-decoration: #FFFFFF;
}

.nav-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #0a58ca;
}

.navbar-brand {
    margin-right: 0;
}

.padding__left-delivery {
    padding-left: 291px;
}

.column-gap-top {
    column-gap: 30px;
}

.header__main {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.header__main-top h4 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0F2438;
    margin-bottom: 0;
}

.header__main-top p {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    color: #0F2438;
}

.header__main-top {
    column-gap: 92px;
    padding-top: 27px;
}

.image_logo {
    width: 70%;
}

.center-block {
    display: flex;
    align-items: center;
}

.image_time {
    width: 32px;
    height: 32px;
}

.column__gap-time {
    column-gap: 10px;
}

.image_location {
    width: 32px;
    height: 32px;
}

.carousel {
    border-radius: 20px;
    position: relative;
    background: url("background.png");
}

.button__whatsapp {
    border: none;
    column-gap: 6px;
}

.margin__top_whatsapp {
    margin-top: 4px;
}

.header__main-top h5 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #0F2438;
}

.text__number {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    text-decoration-line: underline;
    color: #0F2438;
    opacity: 0.7;
}

.number__end {
    text-align: center;
}

.line_bottom {
    width: 20px;
    height: 3px;
    margin-top: 5px;
    background: #FFFFFF;
}

.header__main-bottom {
    padding-top: 25px;
    display: flex;
    padding-bottom: 20px;
}

.padding__btn-bottom {
}

.btn-outline-secondary {
    background-color: #0b5ed7;
    color: #FFFFFF;
}

.header__main-bottom img {
    width: 28px;
    height: 25px;
}

.padding__left-autorization {
    padding-left: 10px;
}

.border__right-autorization {
    border-right: 1px solid #E1E5F8;
    padding-right: 10px;
}

.column-gap_autorization {
    column-gap: 10px;
}

.slider {
    padding-top: 30px;
}

.slider .carousel-inner {
    position: relative;
    width: 1000px;
    height: 390px;
    overflow: hidden;
}

.slider__image_main {
    width: 400px !important;
    height: 350px;
    padding-top: 50px;
}

.slide_1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel.pointer-event {
    touch-action: pan-y;
}

.slider h5 {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #0A1A2C;
}

.slider__promo {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;
    display: flex;
    justify-content: flex-start;
}

.slider h6 {
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
}

.slider__text-price {
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #C2C5DA;
    display: flex;
    align-items: flex-end;
    padding-left: 10px;
}

.text__slider {
    padding-top: 100px;
    padding-left: 100px;
}

.display {
    display: flex;
}

.block__offer {
    margin-top: 30px;
    max-width: 450px;
    margin-left: 30px;
    height: 190px;
    background: #F4F5FA;
    border-radius: 10px;
    padding: 20px 15px;
}

.block__offer-second {
    max-width: 450px;
    margin-left: 30px;
    margin-top: 10px;
    height: 190px;
    background: #F4F5FA;
    border-radius: 10px;
    padding: 20px 15px;
}

.text__price-offer {
    display: flex;
    justify-content: flex-end;
}

.text__offer-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    /* or 144% */
    color: #0A1A2C;
    margin-left: 10px;
}

.text__offer-model {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #525252;
}

.btn__left-offer {
    margin-left: 100px;
}

.text__non-price {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-decoration-line: line-through;
    color: #C2C5DA;
    margin-left: 5px;
    margin-top: 2px;
}

.text__price-offer h6 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
}

.main__product_1 {
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
    padding-left: 30px;
    width: 430px;
    margin-left: 30px;
}

.main__products {
    padding-top: 70px;
    column-gap: 30px;
}

.main__product_1 img {
    margin-left: 30px;
}

.main__products h5 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #0A1A2C;
}

.main__products p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    color: #0A1A2C;
}

.main__product_3 {
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
    padding-left: 30px;
    width: 430px;
    margin-left: 30px;
}

.main__product_2 {
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
    padding-left: 30px;
    width: 430px;
    margin-left: 30px;
}

.main__product_2 img {
    margin-left: 40px;
}

.main__product_3 img {
    margin-left: -5px;
}

.main__menu-button {
    padding-top: 70px;
}

.column-gap__main_menu {
    column-gap: 20px;
}

.btn-outline-primary {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #005BB9;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
}

.btn-primary {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.main__menu {
    padding-top: 10px;
}

.image-star {
    margin-top: 5px;
    width: 15px;
    height: 15px;
}

.image-like {
    width: 21px;
    height: 18px;
    margin-left: 20px;
}

.image-diagram {
    width: 21px;
    height: 21px;
}

.text-price__catalogue {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
    margin-top: 20px;
}

.text__number_1 {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #005BB9;
}

.text-response {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #B0B0B0;
    margin-top: 5px;
    column-gap: 10px;

}

.text-response-span {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFB800;
}

.images-catalogue {
    column-gap: 10px;
}

.border__top-catalogue {
    width: 1400px;
    height: 2px;
    border-top: 2px solid #E1E5F8;
}

hr {
    width: 1450px;
    height: 2px;
}

.text-price-catalogue {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */
    color: #FFB800;
    margin-top: 12px;
}

.center-button-catalogue {
    margin-left: 650px;
    margin-top: 20px;
}

.image__new {
    position: absolute;
    top: -10px;
    width: 106px;
    height: 51px;
}

.border__top-news {
    border-top: 10px solid #F5F5F5;
    position: relative;
    width: 1500px;

}

.main__bottom h4 {
    padding-top: 80px;
}

.space-around-bottom {
    display: flex;
    justify-content: space-evenly;
}

.main__bottom p {
    max-width: 300px;
}

.margin__top-news {
    margin-top: 50px;
}

.main__bottom {
    padding-top: 120px;
    padding-bottom: 120px;
}

.footer {
    background: #0F2438;
    padding-top: 35px;
}

.footer h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #868DAC;
}

.footer p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.space-between-footer {
    display: flex;
    justify-content: space-between;
}

.social__footer {
    justify-content: flex-end;
    column-gap: 20px;
    margin-top: 10px;
}
.footer__bottom p{
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    color: #737E9B;
}
.footer__bottom{
    background: #0F2438;

}
.menu__phone{
    display: none;
    background: #FFFFFF;
    /* shadow */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    width:100%;

}
.block_whatsapp{
    display: none;
}