@media screen and (max-width: 480px) {
    .wh50{
        width: auto;
    }

    .display_1 {
        display: block;
    }

    .padding50 {
        padding: 0;
    }

    .block__indent{
        margin-top: 10px;
    }
    .margin__left200{
        margin-left: 10px;
    }
    .block__center{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
@media screen and (min-width: 576px) {
    .display_1 {
        display: block;
    }
    .wh50{
        width: auto;
    }
    .block__center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .block__indent{
        margin-top: 20px;
    }
    .margin__left200{
        margin-left: 10px;
    }
    .padding50{
        padding: 0;
    }

}
@media screen and (min-width: 768px){
    .display_1 {
        display: block;
    }
    .block__center {
        margin: 0 auto;
    }
    .block__indent{
        margin-top: 20px;
    }
    .width200{
        width: 500px;
    }
    .padding50{
    padding: 30px;
    }
    .column{
        column-gap: 50px;
    }
}
@media screen and (min-width: 1024px) {
    .display_1{
        display: flex;
    }
    .margin__top10{
        margin-top: 10px;
    }
    .col_gap{
        column-gap: 30px;
    }
    .block__indent{
        margin-top: 0;
    }
    .column{
        column-gap: 10px;
    }

}
@media screen and (min-width: 1300px) {
    .display_1{
        display: flex;
    }
    .margin__top10{
        margin-top: 10px;
    }
    .col_gap{
        column-gap: 30px;
    }
    .block__indent{
        margin-top: 0;
    }
    .column{
        column-gap: 30px;
    }
}
@media screen and (min-width: 1500px) {
    .display_1 {
        display: flex;
    }

    .margin__top10 {
        margin-top: 10px;
    }

    .col_gap {
        column-gap: 30px;
    }

    .block__indent {
        margin-top: 0;
    }

    .column {
        column-gap: 50px;
    }
}