.width100{
    width: 100%;
}
.back__blue{
    background: cadetblue;
}
.back__gray{
    background: lightgray;
}
.back__dark-blue{
    background: #102642;
}
.height50{
    height: 50px;
}
.wh1000{
    width: 1000px;
}
.margin_0{
    margin: 0 auto;
}
.display{
    display: flex;
}
.wh10{
    height:1px;
    width: 20px;
}
.flex__end{
    justify-content: flex-end;
}
.col_gap{
    column-gap: 50px;
}
.border5{
    border:5px solid #102642 ;
    border-radius: 20px;
}
.marg__top{
    margin-top: 20px;
}
.marg_right{
    margin-right: 25px;
}
.height100{
    height: 100px;
}
.wh120{
    width: 120px;
    height: 40px;
}
.space{
    justify-content: space-between;
}
.fl-grow{
    flex-grow: 1;
}
.margin10{
    margin: 10px;
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgray;
    font-size: 20px;
}
.height300{
    height:300px;
}
.text__center{
   text-align: center;
}
.padding50{
    padding: 50px;
}
.box {
    box-sizing: border-box;
}
.color__gray{
    color:lightgray;
    font-size: 20px;
}
.back__gray{
    background: lightgray;
}
.back__dark-blue{
    background: #102642;
}
.margin_0{
    margin: 0 auto;
}
.height220{
    height:220px;
}
.color__blue{
    font-size: 20px;
    color: #102642;

}
.bord__cadetblue {
    border: 2px solid cadetblue;
    border-radius: 30px;
}
.align{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bord__blue{
    border-radius: 8px;
    border:5px solid #102642;
}
.wh200{
    width: 80px;
    height: 80px;
}
.col_gap{
    column-gap:20px ;
}
.padding10{
     padding: 10px;
}

.bord__gray{
    border:5px solid lightgray;
    border-radius: 50px;
}
.about_lang:hover{
    border-color: cadetblue ;
}
.flex{
    display: flex;
    flex-direction: column;
}
.space_ar{
    justify-content: space-around;
}
.margin__left__right{
    margin-right: 50px;
    margin-left: 50px;
}
.height800{
    height: 800px;
}
.width200{
    width: 300px;
    height: 300px;
}
.height{
    height: auto;
}
.wh60{
    width: 250px;
    height:100px;
}
.flex__end_down{
    align-self: flex-end;
}
.bord__cadetblue_top{
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: 2px solid cadetblue;
    border-inline: cadetblue;
}
.wh40{
    width: 40%;
    height: 300px;
}
.color__lightblue{
    color: cadetblue;
    font-size: 20px;
}
.marg__bottom{
    margin-bottom: 30px;
}
.wh5{
    width: 50px;
    height: 50px;
}
.height10{
    height: 2px;

}
.margin__top10{
    margin-top: 10px;
}