@media screen and (min-width: 1800px) {
    .box_1 {
        margin-left: 400px;
    }
}

@media screen and (max-width: 400px) {
    .header__menu {
        display: none;
    }
    .header__btn{
        display: flex;
    }

    .header__top {
        padding-top: 5px;
    }

    .navbar-nav button {
        display: none;
    }

    .header__title {
        top: 302px;
        width: 100%;
        text-align: center;
    }

    .header__title h2 {
        font-weight: normal;
        font-size: 30px;
        line-height: 34px;
        color: #D67E35;
        margin-left: 0;
    }

    .header__title h1 {
        font-weight: normal;
        font-size: 40px;
        line-height: 46px;
        color: #D67E35;

    }

    .header__title p {
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
        margin-top: 12px;
    }

    .header__title p::before,
    .header__title p::after {
        content: "";
        display: none;
    }

    .header__bottom {
        display: block;
        bottom: -800px;
        left: 30px;
    }

    .box_1, .box_2, .box_3 {
        margin-left: 0;
        margin-top: 15px;
    }

    .main__history {
        padding-top: 550px;
        height: auto;
        display: block;
    }

    .main__text {
        text-align: center;
        margin-left: 0;
    }

    .text__history {
        margin-top: 48px;
    }

    .main__numbers {
        display: flex;
        flex-direction: column;
    }

    .main__history img {
        width: 80%;
        margin-top: 45px;
        margin-left: 30px;
    }
    .main__images{
        margin-top:45px ;
        margin-right: 0;
    }

    .title__offer {
        text-align: center;
        font-weight: normal;
        font-size: 30px;
        line-height: 34px;
        color: #D67E34;
    }

    .main__offer {
        padding-top: 5px;
        height: auto;
        padding-bottom: 20px;
        display: block;
    }

    .intro__offer {
        text-align: center;
    }
    .text__offer{
        margin-top: 0;
        margin-left: 0;
        padding-bottom: 50px;
    }

    .button__offer {
        margin-top: 0;
        margin-left: 120px;
    }
    .our_dishes{
        display: block;
    }
    .main__dishes{
        height: auto;
    }

    .ham_mini_2, .ham_mini_3,.ham_mini_1 {
        margin-top: 50px;
        margin-left: 10px;
    }
    .border__line{
        border-top: none;
        width: 0;
    }
    .block__text{
        display: block;
    }
    .ham_maxi{
        display: none;
    }
    .response_first{
        padding-top: 15px;
    }
    .list__dishes{
        height: auto;
    }
    .images__gallery{
        display: block;
    }
    .images__gallery img{
        width: 90%;
        height: 300px;
        padding-left: 20px;
        margin-top: 17px;
    }
    .margin__top27{
        margin-top: 0;
    }
    .image__cook{
        display: block;
    }
    .gallery__cook img{
        margin-top: 17px;
    }
    .gallery__cook{
        height: auto;
        padding-bottom: 20px;
    }
}

